[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "==3.0.0"
pandas = "*"
opencv-python = "*"
streamlit = "*"
moviepy = "==1.0.3"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.8"
